<div class=" mt-5 mb-5" id="aboutid">
        <div class="mandappic">
            <img src="/static/pics/mandap3.avif" id="mandap" alt="mandap pic">
            <div class="about">
                <h1 class="text-center">About Us</h1>
                <p style="font-size: 30px;">Know more about us</p>
            </div>
        </div>
</div>