<div class="container-fluid mt-5" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center">Our Services</h1>
      <p class="text-center">We are here for <span class="bold-style"> YOU</span></p>
    </div>
  </div>
</div> 